@use 'global.scss';
@use 'mixin.scss';
@use 'var.scss';


// Je code sur accueil puis dispatche par la suite


* {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    margin: 0;
    height: 100vh; // Assure que le body prend au moins toute la hauteur de la fenêtre
    overflow: hidden; // Empêche tout débordement causé par le pseudo-élément 
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/img/phoenix2.jpg");
    background-size: cover; // Couvre toute la zone disponible
    background-repeat: no-repeat;
    opacity: 0.2; // Ajustez cette valeur selon vos besoins
    z-index: -1; // Place l'image de fond derrière le contenu du body
    background-position: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &2 {
        background: rgba(21, 23, 29, 0.452);
        background: linear-gradient(241deg, rgba(21, 23, 29, 0.699) 0%, rgba(161, 62, 55, 0.534) 61%, rgba(213, 71, 49, 0.39) 100%);
        opacity: .7;
        padding: 1rem 0;
        padding-left: 15rem;
        border-radius: 95% 5% 5% 95% / 50% 50% 50% 50%;
    }
}

main {
    h1 {
        text-align: center;
        font-size: 4rem;
        color: white;
        // background-color: rgba(0, 0, 0, 0.685);
        padding: 4rem;
        margin-bottom: 1rem;
        text-shadow: rgba(21, 23, 29, 0.699) 7px 10px;

        /* Propriétés d'animation */
        animation-name: fadeInBackground;
        animation-duration: 6s;
        /* Durée de 2 secondes pour l'animation */
        animation-fill-mode: forwards;
        /* Garde la dernière keyframe après l'animation */

        @keyframes fadeInBackground {
            from {
                background-color: rgba(0, 0, 0, 0);
            }

            to {
                background-color: rgba(0, 0, 0, 0.685);
            }
        }
    }

    .main__title {
        text-align: center;

        h2 {
            font-size: 3rem;
            font-weight: bold;

            @keyframes slideInFromLeft {
                0% {
                    transform: translateX(-700px);
                    /* Départ de 700px à gauche de la position initiale */
                    opacity: 0;
                }

                100% {
                    transform: translateX(0);
                    /* Arrive à la position normale */
                    opacity: 1;
                }
            }

            animation-delay: 0.1s;
            /* L'h2 commence à glisser légèrement après le h1 */
        }

        p {
            font-size: 2rem;
            color: rgba(190, 50, 37, 255);

            @keyframes slideInFromLeft {
                0% {
                    transform: translateX(-700px);
                    /* Départ de 700px à gauche de la position initiale */
                    opacity: 0;
                }

                100% {
                    transform: translateX(0);
                    /* Arrive à la position normale */
                    opacity: 1;
                }
            }

            animation-delay: 0.2s;
            /* Le paragraphe suit, créant un effet de séquence */
        }

        h2,
        p {
            /* Propriétés d'animation */
            animation-name: slideInFromLeft;
            animation-duration: 3s;
            /* Durée de l'animation */
            animation-fill-mode: forwards;
            /* Garde le style du dernier état de keyframe */
            animation-timing-function: ease-out;
            /* Rend l'animation plus naturelle */

        }
    }

    

    .vision {
        background-color: rgba(0, 0, 0, 0.685);
        padding: 5rem 950px;
        margin-top: 2rem;
        text-align: center;

        @keyframes shine {
            0%, 100% { filter: brightness(5); }
            50% { filter: brightness(50) sepia(100%); }
            // 50% {filter: brightness(6) saturate(15); }
        }

        span {
            color: #ff7e2a;
            font-weight: bold;
        }

        &__p1 {
            color: white;
            font-size: 30px;
            margin-bottom: 2rem;
        }

        &__p2 {
            color: white;
            font-size: 23px;
        }

        &__card {
            display: inline-block;
            color: white;
            font-size: 20px;
            margin-top: 2rem;
            padding: 0 50px;

            img {
                height: 100px;
                animation-name: shine; // ou flicker selon l'effet choisi
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;  
            }
        }
    }
}